/* given variables */
:root{
    --main-clr: black;
    --accent-clr:#BFBFBF;
    --dflt-clr:white;
}

/* navbar */
.navigation{
    display: none;
}

header{
    background: var(--dflt-clr);
    /* -webkit-box-shadow: 0 4.4px 12px rgba(19%, 16%, 34%, 6%); */
    box-shadow: 0 4.4px 12px rgba(19%, 16%, 34%, 6%);
    /* -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px); */
}

/* header cnt */
.innerheader{
    padding-block: 1vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

/* logo */
.logo svg{
    width: 40px;
    height: 41px;
}

/* github link */
.github{
    display: flex;
    align-items: center;
    width: 24px;
}

/* menu bars */
.menu div{
    width: 24px;
    height: 2px;
    margin: 4px 0;
    border-radius: 4px;
    background: var(--main-clr);
}


.introcontent{
    display: flex;
    flex-direction: column-reverse;
}


.introimage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.introimage img{
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    height: 320px;
}


/* intro */
.intro{
    margin-top: 40px;
    margin-inline: 15px;
    margin-bottom: 20px;
}

.intro_txt h1{
  font-size: 32px;
  font-weight: 450;
  line-height: 1.45;
}

.intro_txt p{
  font-size: 14px;
  padding-block: 12px;
}

.feature_wrapper{
    flex-wrap: wrap;
    gap: 10px;
}

/* media queries */
@media (min-width:640px) {
    .intro_txt h1{
        padding: 30px 10px;
        font-size: 42px;
        text-align: center;
    }

    .introimage img{
        height: 400px;
        padding-top: 60px;
    padding-bottom: 30px;
    }
}


@media (min-width:890px) {
    .intro_txt h1{
        font-size:56px;
    }

    .intro_txt p{
        font-size: 18px;
    }
}


@media (min-width:1024px) {
    .navigation{
        display: block;
    }

    .innernavigation{
        display: flex;
        gap: 10px;
    }

    .introimage{
        width: 50%;
    }

    .introcontent{
        flex-direction: row-reverse;
        align-items: center;
    }

    .menu{
        display: none;
    }

    .introimage img{
        width:initial;
        padding: 0;
        height: 620px;
    }

    .logo svg{
        width: 61px;
        height: 60px;
    }

    .logo{
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .github{
        width: 40px;
    }

    .innernavigation a{
        color: var(--accent-clr);
        transition: .2s ease-in;
    }

    .active, .innernavigation a:hover{
        color: var(--main-clr);
    }

    .intro_txt h1{
        font-size: 64px;
    }

    .intro_txt p{
        font-size: 20px;
    }
}